<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2" 
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  IgnorableNamespaces="desktop4 iot2 mp uap uap4">

  <Identity
    Name="lxssex.WindowManager"
    Publisher="CN=artle"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="90c1e78d-bd71-411b-8ffd-2d5b765a4894" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>lxssex.WindowManager</DisplayName>
    <PublisherDisplayName>djart</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true"
      Executable="$targetnametoken$.exe"
      EntryPoint="lxssex.WindowManager.App">
      <uap:VisualElements
        DisplayName="lxssex Window Manager"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="lxssex.WindowManager"
        BackgroundColor="transparent"
        AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol" EntryPoint="lxssex.WindowManager.App">
          <uap:Protocol Name="lxssex-wm">
            <uap:DisplayName>lxssex Window Manager</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="lxssex.WindowManager.App">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.preInstalledConfigTask" StartPage="MainPage"/>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="lxssex.wm.assistance"/>
        </uap:Extension>
        <Extension Category="windows.updateTask"/>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>lxssex.WindowManager.exe</Path>
        <ActivatableClass ActivatableClassId="lxssex.WindowManager.App" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
  </Extensions>
  <Capabilities>
    <uap4:CustomCapability Name="djart.lxssexAccessCapability_q536wpkpf5cy2"/>
  </Capabilities>
</Package>